<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
    </script>
    <script src="js/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="meuApp">
    <div ng-controller="meuController">
        <h1>Serviço de calculadora</h1>
        <label for="numero1">Primeiro numero</label>
        <input type="number" id="numero1" ng-model="numero1">
        <label for="numero2">Segundo numero</label>
        <input type="number" id="numero2" ng-model="numero2">
        <button type="button" ng-click="somar()">Somar</button>
        <button type="button" ng-click="subtrair()">Subtrair</button>
        <button type="button" ng-click="multiplicar()">Multiplicar</button>
        <button type="button" ng-click="dividir()">Dividir</button>
        <button type="button" ng-click="raiz()"></button>
        <button type="button" ng-click="expon()"></button>
        <div ng-show="meuResultado">
            <p>Resultado:{{resultado}}</p>

        </div>
    </div>
    
</body>
</html>